.bookmark-card__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2em;
  background: white;
  max-width: 20em;
  box-shadow: 1px 5px 6px 1px #999a9b;
  transition: 0.3s;
  border-radius: 2px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bookmark-card__container:hover {
  box-shadow: 0 8px 16px 0 #898d94;
}

.bookmark-card__image {
  max-width: 300px;
  max-height: 200px;
  padding: 2em;
}


.bookmark-card__delete {
  position: absolute;
  top: 3px;
  left: 2px;
  color: #343A40;
  cursor: pointer;
}

.bookmark-card__description {
  padding: 1em;
  text-align: justify;
  font-size: 16px;
  font-weight: 100;
}


.bookmark-card__title {
  padding: 1.5em;
}


@media screen and (min-width: 768px) {
  .bookmark-card__title {
    flex-grow: 1;
  }

  .bookmark-card__delete:hover {
    color:#E59934;
  }

  .bookmark-card__url--disabled {
    display: block;
  }

  .bookmark-card__container {
  
  }

  .bookmark-card__image {
    order: -1;
  }
}
