.input-form__container {
  padding: 2em;
}

.input-form__container input[type="text"] {
  outline: none;
  height: 2.2em;
  width: 70%;
  border: 1px solid rgb(52, 58, 64);
  border-right: none;
  padding: 1em;
}

.input-form__button--dark {
  height: 2.2em;
  width: 30%;
  border: none;
  background: rgb(52, 58, 64);
  color: rgb(255, 193, 7)
}

.input-form__button--empty {
  height: 2.2em;
  width: 30%;
  border: none;
  border: 1px solid rgb(52, 58, 64);
  border-left: none;
  background: transparent;
  color: transparent;

}

@media screen and (min-width: 768px) {

  .input-form__container {
    max-width: 50%;
    margin: 0 auto;
  }

  .input-form__container input[type="text"] {
    width: 70%;
  }
  
  .input-form__button--dark {
    width: 20%;
  }
}