.search__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__input-field {
  max-width: 400px;
  height: 2em;
  width: 70%;
  border: 1px solid rgb(52, 58, 64);
  padding: 1em;
}